<h1 class="text-center">
  List of users
</h1>

<button class="btn btn-success pull-right" (click)="openModal(addUser)">New user</button>

<ng-template #addUser>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add user</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <form (ngSubmit)="onSubmit(); modalRef.hide()" #addForm="ngForm">
      <div class="row">
        <div class="col-md-12">
          <div class="row form-group">
            <label for="firstname" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-9">
              <input class="form-control" id="firstname" name="firstname" [(ngModel)]="newUser.firstname" required>
            </div>
          </div>
          <div class="row form-group">
            <label for="lastname" class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-9">
              <input class="form-control" id="lastname" name="lastname" [(ngModel)]="newUser.lastname" required>
            </div>
          </div>
          <div class="row form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <input class="form-control" id="email" name="email" [(ngModel)]="newUser.email" required>
            </div>
          </div>
        </div>
      </div>
    <div class="text-center">
      <button (click)="modalRef.hide()" type="button" class="btn btn-danger">Cancel</button>
      <button type="submit" [disabled]="!addForm.valid" class="btn btn-success">Save</button>
    </div>
  </form>
  </div>
</ng-template>

<table class="table table-striped table-bordered table-hover table-responsive">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.email }}</td>
  </tr>
</table>